<a href="https://colab.research.google.com/github/vicksypython/basic-python/blob/main/Assignment_Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [26]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
#output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [27]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

In [28]:
# Store the lowest temperature 
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)

In [29]:
# Swap the highest and the lowest temperatures
temperatures[max_temp_index] = min_temp
temperatures[min_temp_index] = max_temp

In [30]:
# Print the output list
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [31]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [32]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list)/len(prod_price_list)

### Calculate the median price

In [41]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)

In [42]:
# Check if the number of elements in the list is even or odd
if len(sorted_prices)%2 == 0:
  print('even')
else:
  print('odd')

even

In [43]:
len_list =len(sorted_prices)

In [44]:
# Use the corresponding formula to calculate the median and print the median
median_price = (sorted_prices[int(len_list/2)-1] + sorted_prices[int(len_list/2)])/2

In [45]:
# Check which is greater, mean or median
print(median_price)

575.0

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [68]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [69]:
# Write your code below
pop_list = tech_companies.pop(3)

In [70]:
final_list = tech_companies + pop_list
print(final_list)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [82]:
# Do the same task another way
print(tech_companies)
last_emement = tech_companies[-1]

print(last_emement)

['Qualcomm', 'Google', 'Apple']
Apple

In [ ]:
correct_list = tech_companies[:-1]